@font-face {
  font-family: "GT-Sectra-Fine-Regular";
  src: url("./GT-Sectra-Fine-Regular-Trial.otf") format("truetype");
}
@font-face {
  font-family: "GT-Sectra-Fine-Regular-Italic";
  src: url("./GT-Sectra-Fine-Regular-Italic-Trial.otf") format("truetype");
}
@font-face {
  font-family: "GT-Sectra-Fine-Bold";
  src: url("./GT-Sectra-Fine-Bold-Trial.otf") format("truetype");
}
@font-face {
  font-family: "GT-Sectra-Fine-Black";
  src: url("./GT-Sectra-Fine-Black-Trial.otf") format("truetype");
}
@font-face {
  font-family: "GT-Zirkon-Ultra-Light";
  src: url("./GT-Zirkon-Ultra-Light-Trial.otf") format("truetype");
}
