// GT-Sectra-Fine

@font-face {
  font-family: "GT-Sectra-Fine";
  src: url("./GT-Sectra-Fine-Regular-Trial.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "GT-Sectra-Fine";
  src: url("./GT-Sectra-Fine-Regular-Italic-Trial.otf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "GT-Sectra-Fine";
  src: url("./GT-Sectra-Fine-Bold-Trial.otf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "GT-Sectra-Fine";
  src: url("./GT-Sectra-Fine-Black-Trial.otf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "GT-Zirkon-Ultra-Light";
  src: url("./GT-Zirkon-Ultra-Light-Trial.otf") format("truetype");
}

// SF-Compact-Text

@font-face {
  font-family: "SF-Compact-Text";
  src: url("./SF-Compact/SF-Compact-Text-Light.otf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "SF-Compact-Text";
  src: url("./SF-Compact/SF-Compact-Text-Regular.otf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "SF-Compact-Text";
  src: url("./SF-Compact/SF-Compact-Text-Semibold.otf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "SF-Compact-Text";
  src: url("./SF-Compact/SF-Compact-Text-Bold.otf") format("truetype");
  font-weight: 600;
}
