.about {
  padding-bottom: 60px;
  padding-top: 30px;
  @media (min-width: $screen-sm-max) {
    padding-bottom: 80px;
    padding-top: 45px;
  }

  &__title {
    text-transform: uppercase;
    margin-bottom: 15px;
    @media (min-width: $screen-sm-max) {
      margin-bottom: 45px;
    }
  }
  &__headline {
    margin-bottom: 25px;
    @media (min-width: $screen-sm-max) {
      margin-bottom: 45px;
    }
  }
}
