.contact_wrap {
  &__row {
    padding-top: 90px;
    padding-bottom: 180px;
  }
  .contact_form {
    width: 100%;
    padding-top: 72px;
    input,
    textarea {
      padding: 15px;
      width: 100%;
      color: $black;
      background-color: transparent;
      border: 1px solid $gray;
      font-style: italic;
      transition: all 0.2s ease;
      padding: 20px;
      min-height: 66px;
      &:focus {
        outline: none;
        box-shadow: inset 0px 0px 0px 2px $gray;
      }
    }
    label,
    input,
    textarea {
      transition: all 0.2s;
      touch-action: manipulation;
    }

    label {
      position: absolute;
      left: 0;
      font-style: italic;
      color: $black;
      font-size: 14px;
      line-height: 22px;
      margin: 0;
      padding: 21px 15px;
      transition: all 0.2s;
    }

    ::-webkit-input-placeholder {
      opacity: 0;
      transition: inherit;
    }

    input,
    textarea {
      &:focus::-webkit-input-placeholder {
        opacity: 0;
      }
      &::-webkit-autofill {
        background-color: transparent !important;
      }
    }

    input:not(:placeholder-shown) + label,
    input:focus + label,
    textarea:not(:placeholder-shown) + label,
    textarea:focus + label {
      transform: translate(0, 0) scale(1);
      cursor: pointer;
      opacity: 0;
    }

    .button {
      padding: 20px 100px;
      background-color: $white;
      border-color: $white;
      border: none;
      text-transform: uppercase;
      font-style: italic;
      font-size: 18px;
      line-height: 21px;
    }
  }
}

.is_error {
  input,
  textarea {
    border-color: red !important;
  }

  small {
    color: red !important;
  }
}

.black {
  input,
  textarea {
    color: $white !important;
  }
  .contact_wrap .contact_form {
    label,
    textarea {
      color: $white !important;
    }
  }
}

.white {
  .button {
    background-color: $black !important;
    border-color: $black !important;
    color: $white !important;
  }
}
