.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid currentColor;

  &__block {
    margin-bottom: 50px;
  }
  &__privacy {
    @include fluid-type(14px, 16px);
    @include fluid-line-height(22px, 22px);
    padding-bottom: 35px;
    @media (min-width: $screen-sm-max) {
      padding-bottom: 0px;
    }
  }

  &__rights {
    @include fluid-type(10px, 16px);
    @include fluid-line-height(22px, 22px);
  }
  h1,
  h2,
  h3,
  p,
  div,
  span {
    color: $black;
  }
}

.black {
  .footer {
    h1,
    h2,
    h3,
    p,
    div,
    span {
      color: $white;
    }
  }
}
