.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid currentColor;

  &__block {
    margin-bottom: 50px;
  }

  h1,
  h2,
  h3,
  p,
  div,
  span {
    color: $black;
  }
}

.black {
  .footer {
    h1,
    h2,
    h3,
    p,
    div,
    span {
      color: $white;
    }
  }
}
