@import './variables';

@import './navigation.scss';
@import './contactForm.scss';
@import './footer.scss';
@import './layout.scss';
@import './header.scss';
@import './slider.scss';
@import './spotlight.scss';
@import './technologies.scss';
@import './offers.scss';
@import './aboutUs.scss';

html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-family: $font-SF-Compact, Helvetica, Arial, Sans-Serif;
  font-weight: normal;
  color: $black;
  background-color: $white;
  transition: background-color 0.3s, color 0.3s;

  .black {
    transition: background-color 0.3s, color 0.3s;

    background-color: $black !important;
    color: $white;
  }

  .white {
    background-color: $white !important;
    transition: background-color 0.3s, color 0.3s;
  }
}

h1,
.h1 {
  @include fluid-type(28px, 68px);
  @include fluid-line-height(30px, 75px);
  margin-bottom: 20px;
  font-family: $GT-Sectra-Fine;
  font-weight: 600;
  font-style: italic;
}

h2,
.h2 {
  // @include fluid-type(54px, 32px);
  // @include fluid-line-height(50px, 39px);
}

h3,
.h3 {
  @include fluid-type(24px, 32px);
  @include fluid-line-height(24px, 39px);
  font-family: $GT-Sectra-Fine;
  font-weight: 500;
  font-style: italic;
}

p {
  @include fluid-type(16px, 18px);
  @include fluid-line-height(22px, 22px);
  letter-spacing: 1.5px;
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.2s ease;
  &:hover {
    text-shadow: 0 0 0.01px currentColor, 0 0 0.01px currentColor;
    color: inherit;
    text-decoration: none;
  }
}

* {
  box-sizing: border-box;
}

.intro {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  &__text {
    color: rgb(233, 233, 233);
    font-size: 3rem;
  }
  &__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    img {
      width: 200px;
      @media (min-width: $screen-sm-max) {
        width: 300px;
      }
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}
.offset {
  display: block;
  position: relative;
  top: -90px;
  visibility: hidden;
}
