.offers {
  &__wrap {
    padding-top: 85px;
    padding-bottom: 190px;
    position: relative;
  }
  &__contact-triger {
    position: absolute;
    right: 10%;
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    cursor: pointer;
    span {
      position: relative;
      &::after {
        position: absolute;
        top: 30px;
        right: -8px;
        content: "";
        height: 2px;
        width: 41px;
        background-color: currentColor;
        transform: rotate(-90deg);
      }
    }
  }
  &__row {
    margin-bottom: 40px;
  }
  &__row-wrap {
    padding-bottom: 85px;
  }
  &__main_description {
    font-style: italic;
  }
  &__title {
    @include fluid-type(14px, 64px);
    @include fluid-line-height(20px, 50px);
    font-weight: 500;
    margin-bottom: 25px;
  }
  &__description {
    padding: 25px 30px;
    border-top: 1px solid $black; //to change for white
    border-bottom: 1px solid $black;
  }
}
.black {
  .technology__description,
  .offers__description {
    border-color: $white;
  }
}
