.offers {
  &__wrap {
    padding-top: 40px;
    padding-bottom: 60px;
    position: relative;

    @media (min-width: $screen-sm-max) {
      padding-top: 85px;
      padding-bottom: 190px;
    }
  }
  &__contact-triger {
    z-index: 8;
    @media (max-width: $screen-sm-max) {
      display: none;
    }
    position: fixed;
    top: 50%;
    right: 30px;
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    cursor: pointer;

    span {
      position: relative;
      &::after {
        position: absolute;
        top: 30px;
        right: -10px;
        content: "";
        height: 2px;
        width: 41px;
        background-color: currentColor;
        transform: rotate(-90deg);
        @media (min-width: $screen-sm-max) {
          right: -8px;
        }
      }
    }
  }
  &__row {
    margin-bottom: 40px;
    &:nth-child(odd) {
      h2 {
        margin-left: auto;
        &::after {
          left: unset;
          right: 0;
        }
      }
    }
  }
  &__row-wrap {
    padding-bottom: 42px;
    justify-content: center;
    @media (min-width: $screen-sm-max) {
      padding-bottom: 85px;
    }
  }
  &__title {
    @include fluid-type(54px, 64px);
    @include fluid-line-height(50px, 50px);
    font-weight: 500;
    margin-bottom: 25px;
    position: relative;
    width: fit-content;

    &::after {
      position: absolute;
      content: "";
      bottom: -20px;
      width: calc(100% + 15px);
      height: 1px;
      background-color: $black;
      display: block;
      left: 0;
      @media (min-width: $screen-sm-max) {
        content: unset;
      }
    }
  }
  &__description {
    padding: 25px 30px;
    @media (min-width: $screen-sm-max) {
      border-top: 1px solid $black;
      border-bottom: 1px solid $black;
    }
  }
}
.black {
  .technology__description,
  .offers__description {
    border-color: $white-opacity;
  }
  .offers__title::after {
    background-color: $white;
  }
}
