.offers {
  &__wrap {
    padding-top: 40px;
    padding-bottom: 60px;
    position: relative;

    @media (min-width: $screen-sm-max) {
      padding-top: 85px;
      padding-bottom: 190px;
    }
  }
  &__contact-triger {
    z-index: 8;
    @media (max-width: $screen-sm-max) {
      display: none;
    }
    position: fixed;
    top: 50%;
    right: 20px;
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    cursor: pointer;
    @media (min-width: $screen-sm-max) {
      right: 10%;
    }
    span {
      position: relative;
      &::after {
        position: absolute;
        top: 30px;
        right: -10px;
        content: "";
        height: 2px;
        width: 41px;
        background-color: currentColor;
        transform: rotate(-90deg);
        @media (min-width: $screen-sm-max) {
          right: -8px;
        }
      }
    }
  }
  &__row {
    margin-bottom: 40px;
  }
  &__row-wrap {
    padding-bottom: 85px;
    justify-content: center;
  }
  &__title {
    @include fluid-type(14px, 64px);
    @include fluid-line-height(20px, 50px);
    font-weight: 500;
    margin-bottom: 25px;
  }
  &__description {
    padding: 25px 30px;
    border-top: 1px solid $black; //to change for white
    border-bottom: 1px solid $black;
  }
}
.black {
  .technology__description,
  .offers__description {
    border-color: $white;
  }
}
