.spotlight {
  &__wrap {
    background-image: url("../public/black_small.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    position: relative;
    transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
  }
  &__wrap-offers {
    background-image: url("../public/color_small.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
  }
}
