.tech {
  padding-top: 40px;
  padding-bottom: 60px;
  @media (min-width: $screen-sm-max) {
    padding-top: 85px;
    padding-bottom: 190px;
  }

  position: relative;
  &:before {
    content: '';
    width: 83.333333%;
    height: 1px;
    background-color: currentColor;
    display: block;
    left: 8.335%;
    position: absolute;
  }
  &__title {
    padding-top: 30px;
    @media (min-width: $screen-sm-max) {
      padding-top: 45px;
    }
  }

  &__description {
    padding-top: 17px;
    padding-bottom: 68px;
    @media (min-width: $screen-sm-max) {
      margin: 0 40px;
      padding-top: 47px;
    }
  }
}
