.tech {
  padding-top: 85px;
  padding-bottom: 190px;

  &__title {
    padding-top: 18px;
    padding-bottom: 28px;
  }

  &__description {
    padding-top: 47px;
    padding-bottom: 68px;
    margin: 0 40px;
  }
}
